@font-face {
  font-family: 'Alibaba PuHuiTi';
  src: url('./Alibaba-PuHuiTi-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alibaba PuHuiTi Medium';
  src: url('./Alibaba-PuHuiTi-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
