$sideBarWidth: 270px;
$FontMainColor: #333;
$FontSubColor: #999;
$PrimaryColor: #1890FF;

// the :export directive is the magic sauce for webpack
:export {
  sideBarWidth: $sideBarWidth;
  FontMainColor: $FontMainColor;
  FontSubColor: $FontSubColor;
  PrimaryColor: $PrimaryColor;
}

$sideBarWidth: 270px;
$sideBarFoldWidth: 60px;
