.vxe-table {
  .vxe-table--header-wrapper {
    background-color: #F2F4FA !important;
  }
  .vxe-table--header {
    color: #212121;
    font-size: 14px;
    thead {
      .vxe-header--row {
        height: 60px;
        line-height: 60px;
      }
    }
  }
  .vxe-table--body {
    tbody {
      color: #666;
    }
  }
  .vxe-body--row {
    height: 60px;
    line-height: 60px;
  }
}
.vxe-table--render-default {
  font-family: Alibaba PuHuiTi, sans-serif;
}
